<!DOCTYPE html>
<html>
  <head>
    <title>Textbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div id="container">
      <div id="topBar">

      </div><!--END OF TOPBAR-->

      <div id="headwrap">
        <header>
        
      </div><!--END OF HEADWRAP-->

      <div id="navBar">
        <div id="tabs">
          <%= link_to 'Home', "/"%>
                    <!-- link_to 'About', {:controller => 'static_pages', :action =>'about'} -->
        </div>
    
      </div><!--END OF NAVBAR-->
      
      <div id="bodywrap">
        <p id="notice"></br></br></p>
        <p id="notice"><%= notice %>
           <%= flash[:success]  unless flash[:success].blank? %>
           <%= flash[:danger]  unless flash[:danger].blank? %>
           <%= flash[:error] unless flash[:error].blank? %>
        </p>
        <%= yield %>
        <!-- debug -->
        <p>
        </p>
      </div><!--END OF BODYWRAP-->

     
    </div><!--END OF CONTAINER-->
  </body>
</html>
